beautifulsoup4==4.6.0
bleach==3.3.0
certifi==2018.4.16
chardet==3.0.4
dj-database-url==0.5.0
dj-static==0.0.6
Django==1.10.8
django-contrib-comments==1.8.0
django-heroku==0.3.1
filebrowser-safe==0.5.0
future==0.16.0
grappelli-safe==0.5.0
html5lib==1.0.1
idna==2.7
Mezzanine==4.3.0
oauthlib==2.1.0
Pillow==5.2.0
psycopg2==2.7.5
pytz==2018.5
requests==2.19.1
requests-oauthlib==1.0.0
six==1.11.0
static3==0.7.0
tzlocal==1.5.1
urllib3==1.23
webencodings==0.5.1
whitenoise==3.3.1
