beautifulsoup4==4.6.0
bleach==2.1.3
certifi==2018.4.16
chardet==3.0.4
Django==1.10.8
django-contrib-comments==1.8.0
filebrowser-safe==0.5.0
future==0.16.0
grappelli-safe==0.5.0
html5lib==1.0.1
idna==2.7
Mezzanine==4.3.0
oauthlib==2.1.0
Pillow==8.3.2
pytz==2018.5
requests==2.19.1
requests-oauthlib==1.0.0
six==1.11.0
tzlocal==1.5.1
urllib3==1.23
webencodings==0.5.1
